body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(127, 236, 100, 0.8);
}


#title {
    overflow: hidden;
    white-space: nowrap;
    animation: 
    typing 10s;
    text-align: center;
    font-size: 2.6rem;
    width: 0;
    font-style:italic;
    animation-iteration-count:infinite ;
    border:1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(59, 197, 228, 0.8);
    opacity:0.8;
    margin-left:35%;
    margin-right:35%;

}
@keyframes typing {
    from { width: 0 }
    to { width: 30% }
  }

#board {
    width: 400px;
    height: 420px;
    margin: 2% auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.tile {
    /* Box */
    border: 2px solid black;
    border-radius:30% ;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    background-color:rgba(66, 202, 233,0.6);
border-radius: 75%;
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    background-color:rgba(66, 202, 233,0.6);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#answer{color:black;
font-style: italic;}

